<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Filmes</title>
</head>

<body>
    <h1>Lista de Filmes</h1>
    <ul>
        {% for movie in movies %}
        <li>
            <h2>{{ movie.title }}</h2>
            <p><strong>Descrição:</strong> {{ movie.description }}</p>
            <p><strong>Data de Lançamento:</strong> {{ movie.release_date }}</p>
            <p><strong>Cópias Disponíveis:</strong> {{ movie.available_copies }}</p>
        </li>
        {% endfor %}
    </ul>
</body>

</html>